@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --background-elephant-grey: 220 23% 95%;
    --background-elephant-contrast: 210, 14%, 97%;
    --background-elephant-white: 0, 0%, 78%;

    --primary: 29 84% 52%;
    --primary-hover: 29 98% 48%;
    --primary-selected: 29 100% 41%;
    --primary-disabled: 29 84% 81%;
    --primary-disabled-selected: 29 71% 73%;

    --typography: 219 100% 14%;
    --typography-active-border: 219 16% 56%;
    --typography-inactive-border: 220 15% 81%;

    --link-blue: 231 97% 70%;
    --link-hover: 231 55% 57%;
    --link-active: 231 51% 50%;
    --link-disabled: 229 53% 77%;

    --danger-red: 353 76% 52%;
    --danger-glow: 353 70% 77%;
    --danger-inactive: 353 76% 76%;
    --danger-disabled: 354 76% 90%;
    --danger-hover: 353 83% 41%;
    --danger-active: 353 98% 31%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 8px;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 8px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

body {
  margin: 0;
  font-family: 'Quicksand', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
